<div class="container mt-4">
  <h1 class="mb-4">Setting database</h1>

  <form #form="ngForm" (ngSubmit)="submitForm(form)">
    <div class="form-group">
      <label for="user">User:</label>
      <input
        type="text"
        id="user"
        name="user"
        placeholder="Enter User"
        [(ngModel)]="user"
        required
        class="form-control"
      />
    </div>

    <div class="form-group">
      <label for="password">Password:</label>
      <input
        type="password"
        id="password"
        name="password"
        placeholder="Enter Password"
        [(ngModel)]="password"
        required
        class="form-control"
      />
    </div>

    <div class="form-group">
      <label for="host">Host:</label>
      <input
        type="text"
        id="host"
        name="host"
        placeholder="Enter Host"
        [(ngModel)]="host"
        required
        class="form-control"
      />
    </div>

    <div class="form-group">
      <label for="port">Port:</label>
      <input
        type="text"
        id="port"
        name="port"
        placeholder="Enter Port"
        [(ngModel)]="port"
        required
        class="form-control"
      />
    </div>

    <div class="form-group">
      <label for="database">Database:</label>
      <input
        type="text"
        id="database"
        name="database"
        placeholder="Enter Database"
        [(ngModel)]="database"
        required
        class="form-control"
      />
    </div>

    <button type="submit" class="btn btn-primary">Connect database</button>
  </form>

  <div style="color: brown;" *ngIf="connectionStatus" class="alert alert-info mt-4">
    {{ connectionStatus }}
  </div>

  <div *ngIf="tasks.length > 0" class="results mt-4">
    <h2>Results:</h2>
    <ul class="list-group">
      <li *ngFor="let task of tasks" class="list-group-item">{{ task }}</li>
    </ul>
  </div>
</div>
