:host {
  .legend {
    small {
      font-size: x-small;
    }
  }
}


.title-container {
  text-align: center;
  margin-bottom: 20px; /* Adjust spacing as needed */
}

.title-text {
  font-size: 2rem; /* Adjust size as needed */
  text-align: center;
  font-weight: bold;
  color: #333; /* Adjust color as needed */
}