<div *ngIf="isLoading" class="spinner-container text-center">
  <c-spinner color="primary" size="sm" variant="grow"></c-spinner>
  <p>Đang tải ...</p>
</div>

<div *ngIf="!isLoading">
  <!-- Title -->
  <div class="title-container text-center mb-4">
    <h1 class="title-text">TỔNG QUAN</h1>
  </div>

  <!-- First row with two columns -->
  <c-row class="mt-4">
    <c-col xs="12" md="6" xl="6">
      <c-card class="mb-4">
        <c-card-body>
          <c-row>
            <c-col sm="12">
              <h4 class="card-title mb-0 text-center" id="visitsChart1">Số lượng yêu cầu giám sát</h4>
            </c-col>
          </c-row>
          <c-chart
            [data]="chart[0].data"
            [height]="300"
            [ngStyle]="{ 'marginTop.px': 40 }"
            [options]="chart[0].options"
            [type]="'bar'"
          >
            Bar chart for visits 1
          </c-chart>
        </c-card-body>
      </c-card>
    </c-col>

    <c-col xs="12" md="6" xl="6">
      <c-card class="mb-4">
        <c-card-body>
          <c-row>
            <c-col sm="12">
              <h4 class="card-title mb-0 text-center" id="visitsChart2">Số lượng trạm giám sát</h4>
            </c-col>
          </c-row>
          <c-chart
            [data]="chart[1].data"
            [height]="300"
            [ngStyle]="{ 'marginTop.px': 40 }"
            [options]="chart[1].options"
            [type]="'bar'"
          >
            Bar chart for visits 2
          </c-chart>
        </c-card-body>
      </c-card>
    </c-col>
  </c-row>

  <!-- Second row with two columns -->
  <c-row class="mt-4">
    <c-col xs="12" md="6" xl="6">
      <c-card class="mb-4">
        <c-card-body>
          <c-row>
            <c-col sm="12">
              <h4 class="card-title mb-0 text-center" id="visitsChart3">Số lượng yêu cầu đạt</h4>
            </c-col>
          </c-row>
          <c-chart
            [data]="chart[2].data"
            [height]="300"
            [ngStyle]="{ 'marginTop.px': 40 }"
            [options]="chart[2].options"
            [type]="'bar'"
          >
            Bar chart for visits 3
          </c-chart>
        </c-card-body>
      </c-card>
    </c-col>

    <c-col xs="12" md="6" xl="6">
      <c-card class="mb-4">
        <c-card-body>
          <c-row>
            <c-col sm="12">
              <h4 class="card-title mb-0 text-center" id="visitsChart4">Số lượng yêu cầu lỗi</h4>
            </c-col>
          </c-row>
          <c-chart
            [data]="chart[3].data"
            [height]="300"
            [ngStyle]="{ 'marginTop.px': 40 }"
            [options]="chart[3].options"
            [type]="'bar'"
          >
            Bar chart for visits 4
          </c-chart>
        </c-card-body>
      </c-card>
    </c-col>
  </c-row>

  <!-- Third row with two columns -->
  <c-row>
    <c-col xs="12" md="6" xl="6">
      <c-card class="mb-4">
        <c-card-body>
          <h4 class="card-title mb-4 text-center">Số lượng yêu cầu theo tháng</h4>
          <table class="table table-striped table-bordered text-center">
            <thead class="thead-dark">
              <tr>
                <th scope="col">Tháng</th>
                <th scope="col">Số yêu cầu đạt</th>
                <th scope="col">Số yêu cầu lỗi</th>
                <th scope="col">Số yêu cầu tổng</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let month of monthlyRequests.rejected_requests; let i = index">
                <td>{{ i + 1 }}</td>
                <td>{{ monthlyRequests.approved_requests[i] }}</td>
                <td>{{ monthlyRequests.rejected_requests[i] }}</td>
                <td>{{ monthlyRequests.total_requests[i] }}</td>
              </tr>
            </tbody>
          </table>
        </c-card-body>
      </c-card>
    </c-col>

    <c-col xs="12" md="6" xl="6">
      <c-card class="mb-4">
        <c-card-body>
          <h4 class="card-title mb-4 text-center">Top 10 trạm phát sinh nhiều lỗi nhất</h4>
          <table class="table table-striped table-bordered text-center">
            <thead class="thead-dark">
              <tr>
                <th scope="col">STT</th>
                <th scope="col">Mã Trạm</th>
                <th scope="col">Số lỗi</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let province of top10ProvincesErrors; let i = index">
                <td>{{ i + 1 }}</td>
                <td>{{ province.province }}</td>
                <td>{{ province.error_count }}</td>
              </tr>
            </tbody>
          </table>
        </c-card-body>
      </c-card>
    </c-col>
  </c-row>

  <!-- Fourth row with two columns -->
  <c-row class="mt-4">
    <c-col xs="12" md="6" xl="6">
      <c-card class="mb-4">
        <c-card-body>
          <h4 class="card-title mb-4 text-center">Top 10 đối tượng ảnh chụp phát sinh lỗi</h4>
          <table class="table table-striped table-bordered text-center">
            <thead class="thead-dark">
              <tr>
                <th scope="col">STT</th>
                <th scope="col">Đối tượng ảnh chụp</th>
                <th scope="col">Số lỗi</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let object of top10Objects; let i = index">
                <td>{{ i + 1 }}</td>
                <td>{{ object.object }}</td>
                <td>{{ object.count }}</td>
              </tr>
            </tbody>
          </table>
        </c-card-body>
      </c-card>
    </c-col>

    <c-col xs="12" md="6" xl="6">
      <c-card class="mb-4">
        <c-card-body>
          <h4 class="card-title mb-4 text-center">Top 10 đầu việc phát sinh nhiều lỗi nhất</h4>
          <table class="table table-striped table-bordered text-center">
            <thead class="thead-dark">
              <tr>
                <th scope="col">STT</th>
                <th scope="col">Đầu việc</th>
                <th scope="col">Số lỗi</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let task of top10Tasks; let i = index">
                <td>{{ i + 1 }}</td>
                <td>{{ task.name }}</td>
                <td>{{ task.error_count }}</td>
              </tr>
            </tbody>
          </table>
        </c-card-body>
      </c-card>
    </c-col>
  </c-row>

  <!-- Fifth row with two columns -->
  <c-row class="mt-4">
    <c-col xs="12" md="6" xl="6">
      <c-card class="mb-4">
        <c-card-body>
          <h4 class="card-title mb-4 text-center">Top 10 tỉnh phát sinh nhiều lỗi nhất</h4>
          <table class="table table-striped table-bordered text-center">
            <thead class="thead-dark">
              <tr>
                <th scope="col">STT</th>
                <th scope="col">Mã Tỉnh</th>
                <th scope="col">Số lỗi</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let province of top10NationErrors; let i = index">
                <td>{{ i + 1 }}</td>
                <td>{{ province.nation }}</td>
                <td>{{ province.error_count }}</td>
              </tr>
            </tbody>
          </table>
        </c-card-body>
      </c-card>
    </c-col>

    <c-col xs="12" md="6" xl="6">
      <c-card class="mb-4">
        <c-card-body>
          <h4 class="card-title mb-4 text-center">Top 10 đối tượng Hạ Tầng Mạng Lưới kém nhất</h4>
          <table class="table table-striped table-bordered text-center">
            <thead class="thead-dark">
              <tr>
                <th scope="col">STT</th>
                <th scope="col">Đối tượng</th>
                <th scope="col">Số Lỗi</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let province of top10htmlErrors; let i = index">
                <td>{{ i + 1 }}</td>
                <td>{{ province.infra_type }}</td>
                <td>{{ province.error_count }}</td>
              </tr>
            </tbody>
          </table>
        </c-card-body>
      </c-card>
    </c-col>
  </c-row>
</div>
