<c-row>
  <c-col xs="12">
    <c-card class="mb-4">
      <c-card-header>
        <strong>Kết quả tìm kiếm</strong>
      </c-card-header>
      <c-card-body>
        <form cForm class="row g-3">
          <!-- Infra Type Field -->
          <c-col md="3">  
            <label for="inputField1">Loại</label>
            <select cSelect id="inputField1">
              <option value="Tất cả" selected>Tất cả</option>
              <option *ngFor="let option of options['Loại hạ tầng mạng lưới']">{{ option }}</option>
            </select>
          </c-col>
          <!-- Infra Object Field -->
          <c-col md="3">
            <label for="inputField2">Đối tượng</label>
            <select cSelect id="inputField2">
              <option value="Tất cả" selected>Tất cả</option>
              <option *ngFor="let option of options['Đối tượng hạ tầng mạng lưới']">{{ option }}</option>
            </select>
          </c-col>
          <!-- Object Station Name Field -->
          <c-col md="3">
            <label for="inputField3">Đối tượng ảnh chụp</label>
            <select cSelect id="inputField3">
              <option value="Tất cả" selected>Tất cả</option>
              <option *ngFor="let option of options['Đối tượng ảnh chụp']">{{ option }}</option>
            </select>
          </c-col>
          <!-- Task Field -->
          <c-col md="3">
            <label for="inputField4">Công việc</label>
            <select cSelect id="inputField4">
              <option value="Tất cả" selected>Tất cả</option>
              <option *ngFor="let option of options['Đầu việc']">{{ option }}</option>
            </select>
          </c-col>
          <!-- Station Code Field -->
          <c-col md="2">
            <label for="inputField5">Mã Trạm</label>
            <select cSelect id="inputField5">
              <option value="Tất cả" selected>Tất cả</option>
              <option *ngFor="let option of options['Mã trạm']">{{ option }}</option>
            </select>
          </c-col>
          <!-- Time Period Field -->
          <c-col md="2">
            <label for="inputField6">Khoảng thời gian</label>
            <select cSelect id="inputField6">
              <option value="1 tháng - nay" selected>1 tháng - nay</option>
              <option>3 tháng - nay</option>
              <option>6 tháng - nay</option>
              <option>1 năm - nay</option>
              <option>Tất cả</option>
            </select>
          </c-col>
          <!-- Results Field -->
          <c-col md="2">
            <label for="inputField7">Kết quả</label>
            <select cSelect id="inputField7">
              <option value="Tất cả" selected>Tất cả</option>
              <option>Pass</option>
              <option>Fail</option>
            </select>
          </c-col>
          <!-- Reliability Field -->
          <c-col md="2">
            <label for="inputField8">Độ tin cậy (%)</label>
            <input type="text" id="inputField8" placeholder=">=" />
          </c-col>
          <!-- Buttons -->
          <c-col md="6" class="c-col-button">
            <button type="button" (click)="onSubmit($event)" cButton color="primary">Xuất báo cáo</button>
            <button type="button" (click)="exportReport()" cButton color="primary">Xuất Excel</button>
          </c-col>          
        </form>

        <!-- Hiển thị bảng kết quả hoặc spinner khi đang tải -->
        <div *ngIf="isLoading" class="spinner-container text-center">
          <c-spinner color="primary" size="sm" variant="grow"></c-spinner>
          <p>Đang tải ...</p>
        </div>

        <div *ngIf="!isLoading">
          <div *ngIf="List_HTML.html_type.length > 0; else noData" class="mt-4">
            <h5>Kết quả tìm kiếm:</h5>
            <table class="table">
              <thead>
                <tr>
                  <th>Loại</th>
                  <th>Đối tượng</th>
                  <th>Đối tượng ảnh chụp</th>
                  <th>Công việc</th>
                  <th>Mã trạm</th>
                  <th>Kết quả</th>
                  <th>Thời gian</th>
                  <th>Độ tin cậy</th>
                  <th>Chi tiết</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of List_HTML.html_type; let i = index">
                  <td>{{ item }}</td>
                  <td>{{ List_HTML.html_object[i] }}</td>
                  <td>{{ List_HTML.object_station[i] }}</td>
                  <td>{{ List_HTML.task_code[i] }}</td>
                  <td>{{ List_HTML.station_code[i] }}</td>
                  <td>{{ List_HTML.result[i] }}</td>
                  <td>{{ List_HTML.created_at[i] }}</td>
                  <td>{{ List_HTML.confidence_score[i] }}</td>
                  <td>
                    <a (click)="navigateToCard(List_HTML, i)">
                      <span style="color: red; text-decoration: underline; cursor: pointer;">Xem</span>
                    </a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>

          <!-- Thông báo "Không có dữ liệu" chỉ sau khi nút "Xuất báo cáo" đã được nhấn -->
          <ng-template #noData>
            <div *ngIf="isSubmitted" class="text-center mt-4">
              <h5>Không có dữ liệu</h5>
            </div>
          </ng-template>
        </div>
      </c-card-body>
    </c-card>
  </c-col>
</c-row>
